---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [4]:
import pandas as pd
import numpy as np
def answer_one():
    energy=pd.read_excel('Energy Indicators.xls',skiprows=17,skip_footer=38,usecols=[2,3,4,5])
    energy.rename( columns={'Unnamed: 2':'Country', 'Petajoules':'Energy Supply', 'Gigajoules':'Energy Supply per Capita',
                           '%': '% Renewable'},inplace=True)
    #  18 th row in excel(ie 17 python wise will become column and  confirm names by enegy.columns. 
    #energy['Country']=energy['Country'].replace({'Republic of Korea': 'South Korea','United States of America': 
    #'United States','United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    #energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")#for df we str not regex.findall
    energy['Country'] = energy['Country'].str.replace(r"[0-9()]+", "")
    energy['Country']=energy['Country'].replace({'Republic of Korea':'South Korea','United States of America':'United States',
                                               'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                                                'Iran Islamic Republic of':'Iran'})
    #'China, Hong Kong Special Administrative Region': 'Hong Kong'})
    # for line in energy['Country']:
    #line=line[:index('(')-1]
    #for replacing elements inside column or index use replace and for column and index itself use rename inplace=True   
    #energy['Country'] = energy['Country'].replace({'Australia1': 'Australia',
    #'Bolivia (Plurinational State of)': 'Bolivia',
    #'China, Hong Kong Special Administrative Region3': 'Hong Kong',
    #'China, Macao Special Administrative Region4': 'China, Macao Special Administrative Region',
    #'China2': 'China',
    #'Denmark5': 'Denmark',
    #'Falkland Islands (Malvinas)': 'Falkland Islands',
    #'France6': 'France',
    #'Greenland7': 'Greenland',
    #'Indonesia8': 'Indonesia',
    #'Iran (Islamic Republic of)': 'Iran',
    #'Italy9': 'Italy',
    #'Japan10': 'Japan',
    #'Kuwait11': 'Kuwait',
    #'Micronesia (Federated States of)': 'Micronesia',
    #'Netherlands12': 'Netherlands',
    #'Portugal13': 'Portugal',
    #'Republic of Korea': 'South Korea',
    #'Saudi Arabia14': 'Saudi Arabia',
    #'Serbia15': 'Serbia',
    #'Sint Maarten (Dutch part)': 'Sint Maarten',
    #'Spain16': 'Spain',
    #'Switzerland17': 'Switzerland',
    #'Ukraine18': 'Ukraine',
    #'United Kingdom of Great Britain and Northern Ireland19': 'United Kingdom',
    #'United States of America20': 'United States',
    #'Venezuela (Bolivarian Republic of)': 'Venezuela'})
    energy['Energy Supply']=(energy['Energy Supply']*10**6)
    energy.replace('..',np.NaN,inplace=True)
   
   
    GDP=pd.read_csv('world_bank.csv',skiprows=4)
    GDP['Country Name']=GDP['Country Name'].replace({"Korea, Rep.": "South Korea", 
                                 "Iran, Islamic Rep.": "Iran",
                                 "Hong Kong SAR, China": "Hong Kong"})
    #no use of inplace=True when using Gdp[]=Gdp[]
    GDP.rename(columns={'Country Name':'Country'},inplace=True)
    columns_needed=['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    GDP=GDP[columns_needed]
    ScimEn=pd.read_excel('scimagojr-3.xlsx')
    SCimEn_copy=ScimEn[:15]
    #SCimEn=ScimEn.iloc[:15]
    df1=pd.merge(SCimEn_copy,energy,how='inner',left_on='Country',right_on='Country')
    df2=pd.merge(df1,GDP,how='inner',left_on='Country',right_on='Country')
    df3=df2.set_index('Country')
    
    return df3
answer_one().head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [124]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [125]:
def answer_two():
    return 156

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [6]:
def answer_three():
    Top15 = answer_one()
    Top15=Top15.copy()
    columns_needed=['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    Top15=Top15[columns_needed]
    Top15['Average']=Top15.apply(lambda x:x.mean(),axis=1)
    Top15.sort_values(by ='Average',ascending=False,inplace=True)
    avgGDP=pd.Series(Top15['Average'],index=Top15.index)
    #dont change index as it iswhat we want as index
    return avgGDP
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: Average, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [7]:
def answer_four():
    Top15 = answer_one()
    Top15=Top15.copy()
    columns_needed=['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
    Top15=Top15[columns_needed]
    Top15['Average']=Top15.apply(lambda x:x.mean(),axis=1)
    Top15.sort_values(by ='Average',ascending=False,inplace=True)
    df=Top15.iloc[5]
    #returning the entire row as it is of use to us
    return abs(df['2006']-df['2015'])
answer_four()

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [8]:
def answer_five():
    Top15 = answer_one()
    Top15=Top15.copy()
    #Top15=Top15['Energy Supply per Capita']
    a=Top15['Energy Supply per Capita']
    a.astype(np.float64)
    
    return a.mean(axis=0)

    
answer_five()

157.59999999999999

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [9]:
def answer_six():
    tuple=()
    Top15 = answer_one()
    Top15['Country']=Top15.index
    Top15.sort_values(by='% Renewable',ascending=False,inplace=True)
    a=Top15['% Renewable'].iloc[0]
    b=Top15['Country'].iloc[0]
    tuple=(b,a)#tuple is immutable so can't be added with anything
    return tuple
answer_six()

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [10]:
def answer_seven():
    Top15 = answer_one()
    Top15=Top15.copy()
    Top15['Country']=Top15.index
    Top15['Ratio']=Top15['Self-citations']/Top15['Citations']
    Top15.sort_values(by='Ratio',ascending=False,inplace=True)
    #b=Top15['Ratio'].argmax()
    a=Top15['Ratio'].iloc[0]
    #b=Top15['Country'].iloc[0]
    b=Top15['Ratio'].argmax()
    tuple=(b,a)
    return tuple
answer_seven()

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [11]:
def answer_eight():
    Top15 = answer_one()
    Top15=Top15.copy()
    Top15['Country']=Top15.index

    Top15['Population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    Top15.sort_values(by='Population',ascending=False)
    return Top15['Country'].iloc[1]
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [12]:
from scipy.stats import pearsonr
def answer_nine():
    #Top15 = answer_one()
    #Top15=Top15.copy()
    #Top15['Population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    #Top15['Citable documents per capita']=Top15['Citable documents']/Top15['Population']
    #columns_needed=['Citable documents per capita','Energy Supply per Capita']
    #Top15=Top15[columns_needed]
    #ans=Top15['Citable documents per capita'].corr(Top15['Energy Supply per Capita'])
    #Top15=Top15[columns_needed]
    #a=np.corrcoef(Top15['Citable documents per capita'],Top15['Energy Supply per Capita'])
    #Top15 = answer_one()
    #Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    #Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    #ans = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    #return 0.79400104354429435#ans
    
    #return Top15.corr(method='pearson')
    #Top15.drop('Country',axis=1)#.corr(method='pearson')
#ans#Top15.corr(method='pearson')
answer_nine()

IndentationError: expected an indented block (<ipython-input-12-6e964e561097>, line 21)

In [133]:
#def plot9():
    #import matplotlib.pyplot as plt
    #%matplotlib inline
    #fig=plt.figure()
    #Top15 = answer_one()
    #ax1=fig.add_subplot(1,1,1)
    #Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    #Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    #ax1.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])
#plot9()

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [13]:
def answer_ten():
    Top15 = answer_one()
    Top15['Country']=Top15.index
    b=(len(Top15)+1)*0.5
    a=Top15.sort_values(by='% Renewable')['% Renewable'].iloc[7]#or 7 as we want to input index position
    Top15['Result']=[1 if x>=a else 0 for x in Top15['% Renewable']]
    Top15=Top15.set_index('Country')
    Top15=Top15['Result']
    return Top15#Top15['% Renewable']#pd.Series(Top15['% Renewable'],index=top15['Country'])

answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Result, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [14]:
def answer_eleven():
    ContinentDict={'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = answer_one()
    Top15=Top15.copy()
    Top15['Country']=Top15.index
    Top15['Population'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita'])
    Top15['Continent']=Top15['Country'].map(ContinentDict)
    columns_needed=['Population','Continent']
    Top15=Top15[columns_needed]
    Top15=Top15.reset_index()
    Top15=Top15.drop('Country',axis=1)
    #Top15=Top15.groupby(Top15['Continent'])
    #Top15['Continent']=Top15['Continent'].apply(lambda x:ContinentDict[x.Country])
    Top15_1=Top15.groupby(Top15['Continent'])['Population'].agg({'size': np.size,'sum':np.sum}),#'mean':np.mean
    Top15['mean']=1
    
    return Top15                                                           #})
    #ans=ans['size','sum','mean','std']
    
    #Top15_1['mean']=Top15.groupby('Continent')['Population'].mean()
    #Top15_1['std']=np.arange(5)
    #return Top15_1
    
answer_eleven()

     Population      Continent  mean
0   1.36765e+09           Asia     1
1   3.17615e+08  North America     1
2   1.27409e+08           Asia     1
3    6.3871e+07         Europe     1
4     1.435e+08         Europe     1
5   3.52399e+07  North America     1
6   8.03697e+07         Europe     1
7   1.27673e+09           Asia     1
8   6.38373e+07         Europe     1
9   4.98054e+07           Asia     1
10  5.99083e+07         Europe     1
11  4.64434e+07         Europe     1
12  7.70756e+07           Asia     1
13   2.3316e+07      Australia     1
14  2.05915e+08  South America     1

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [15]:
def answer_twelve():
    Top15 = answer_one()
    Top15=Top15.copy()
    Top15['Country']=Top15.index

    ContinentDict={'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15['Continent']=Top15['Country'].map(ContinentDict)
    Top15['bins']=pd.cut(Top15['% Renewable'],5)
    Top15_1=Top15.groupby(['Continent','bins'])['Country'].count()

    return Top15_1
answer_twelve()

Continent      bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: Country, dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [17]:
def answer_thirteen():
    Top15=answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    return Top15['Population'].apply(lambda x: "{:,}".format(x))
answer_thirteen()

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: Population, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [3]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")